*.optrpt
*.o
TestFiles/demands
TestFiles/evaporation
TestFiles/inflows
TestFiles/output/
TestFiles/rof_*
Borg/*
lib*
borg*
core*
.idea
*gmon.out
rof_tables*
callgrind*
serial-borg-moea
triangleSimulation

#
# Editor files
#
*~
*#
*.#
.#*


#
# Container files
#
ContainerFiles/ssh
id_rsa


