*.optrpt
*.o
TestFiles/demands
TestFiles/evaporation
TestFiles/inflows
TestFiles/output/
TestFiles/rof_*
Borg/*
!Borg/borgProblemDefinition.h
lib*
borg*
core*
.idea
*gmon.out
rof_tables*
callgrind*
serial-borg-moea
triangleSimulation
error/
output/

#
# Editor files
#
*~
*#
*.#
.#*
*.bak


#
# Container files
#
ContainerFiles/ssh
id_rsa
id_rsa.pub

